{% extends 'base.html.twig' %}
{% block title %}HomePage{% endblock %}
{% block body %}
    <a href="http://pogodynka.localhost:41594/measurement/">Measurement</a>
    <a href="http://pogodynka.localhost:41594/location/">Location</a>
{% endblock %}